<template>
  <div>
    <table class="table">
      <thead v-if="visible">
        <tr>
          <th class="col-md-1">번호</th>
          <th class="col-md-5">제목</th>
          <th class="col-md-2">등록일</th>
          <th class="col-md-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="board.length === 0">
          <td class="p-5" colspan="4">등록된 게시물이 없습니다.</td>
        </tr>
        <tr v-else v-for="item in board" v-bind:key="item.boardCode">
          <!--          <td class="col-md-1">{{ item.num }}</td>-->
          <td class="col-md-2">{{ item.boardType }}</td>
          <td class="col-md-5 text-left">
            <router-link
              :to="{
                name: 'AdminBoardView',
                params: {
                  boardCode: item.boardCode,
                  boardType: item.boardType,
                },
              }"
            >
              {{ item.boardTitle }}
            </router-link>
          </td>
          <td class="col-md-2">{{ item.insertDt }}</td>
          <td class="col-md-3">
            <div class="btn btn-warning">
              <router-link
                :to="{
                  name: 'AdminBoardRevise',
                  params: {
                    boardCode: item.boardCode,
                    boardType: item.boardType,
                  },
                }"
              >
                수정
              </router-link>
            </div>
            <div class="btn btn-secondary" @click="boardRemove(item.boardCode)">
              삭제
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!--<div class="paginate">-->
    <!--  <div class="paginate-bullet prev">-->
    <!--    <div class="arrow left"></div>-->
    <!--  </div>-->
    <!--  <ul v-for="item in paginate" v-bind:key="item.num">-->
    <!--    <li class="paginate-bullet">{{ item.num }}</li>-->
    <!--  </ul>-->
    <!--  <div class="paginate-bullet next">-->
    <!--    <div class="arrow right"></div>-->
    <!--  </div>-->
    <!--</div>-->
  </div>
</template>

<script>
import { EventBus } from "@/event-bus";
export default {
  name: "BoardTable",
  props: {
    msg: String,
  },
  data() {
    return {
      visible: true,
      board: [],
    };
  },
  methods: {
    isVisible() {
      this.visible = window.innerWidth > 750;
    },
    getBoardList() {
      let param = new Object();
      param.boardType = this.$route.params.boardType;
      this.api.getBoardList(param).then((res) => {
        this.board = res.boards;
      });
    },
    boardRemove(code) {
      let param = new Object();
      param.boardCode = code;
      this.api.removeBoard(param).then((res) => {
        console.log(res);
        this.getBoardList();
      });
    },
  },
  created() {
    this.isVisible();
    this.getBoardList();
    console.log("BoardTable.created");
    EventBus.$on("resize", this.isVisible);
  },
  updated() {
    this.getBoardList();
  },
  mounted() {
    console.log("BoardTable.mounted");
  },
  beforeDestroy() {
    console.log("BoardTable.beforeDestroy");
    EventBus.$off("resize", this.isVisible);
  },
};
</script>
