<template>
  <div id="content">
    <section
      class="text-center visual-section"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <div class="container">
        <h1 class="bold">About</h1>
        <div class="col-md-4 p-5 mt-5 mb-5 bg-gray d-inline-block">
          <img src="../../assets/images/ci.png" alc="회사 아이덴티티 로고" />
        </div>
        <p>{{ $t("about.text-1") }}</p>
        <p>
          <span class="point">{{ $t("havencare.havencare") }}</span>
          {{ $t("about.text-2") }}
        </p>
        <p>{{ $t("about.text-3") }}</p>
        <p>{{ $t("about.text-4") }}</p>
        <p>{{ $t("about.text-5") }}</p>
      </div>
    </section>
    <section class="bg-gray">
      <div class="container">
        <div
          class="row"
          data-aos="fade-up"
          data-aos-offset="100"
          data-aos-duration="1500"
        >
          <div class="col-md-6 col-sm-6 mb-5">
            <div class="text-center box">
              <div class="title">{{ $t("about.text-6") }}</div>
              <div class="vertical-center">
                <div>
                  <div>
                    <img
                      src="../../assets/images/partners/ewha_womans.png"
                      alt="$t('about.partner-0')"
                    />
                  </div>
                  <span class="badge badge-green mx-1">{{
                    $t("about.text-7")
                  }}</span>
                  <span class="badge badge-green mx-1">{{
                    $t("about.text-8")
                  }}</span>
                </div>
                <div>
                  <img
                    src="../../assets/images/partners/koreanAcademypharmacy.png"
                    alt="$t('about.partner-1')"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 mb-5">
            <div class="text-center box">
              <div class="title">{{ $t("about.text-9") }}</div>
              <div class="vertical-center">
                <div class="">
                  <img
                    src="../../assets/images/partners/severance.png"
                    alt="$t('about.partner-2')"
                  />
                </div>
                <div>
                  <img
                    src="../../assets/images/partners/koreanDiabetes.png"
                    alt="$t('about.partner-3')"
                  />
                </div>
                <div>
                  <img
                    src="../../assets/images/partners/cau.png"
                    alt="$t('about.partner-4')"
                  />
                </div>
                <div>
                  <img
                    src="../../assets/images/partners/iqvia.png"
                    alt="IQVIA"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="row"
          data-aos="fade-up"
          data-aos-offset="100"
          data-aos-duration="1500"
        >
          <div class="col-md-6 col-sm-6 mb-5">
            <div class="text-center box">
              <div class="title">{{ $t("about.text-10") }}</div>
              <div class="vertical-center">
                <div>
                  <div>
                    <img
                      src="../../assets/images/partners/repurels.png"
                      alt="$t('about.partner-5')"
                    />
                  </div>
                  <span class="badge badge-blue">{{
                    $t("about.partner-5")
                  }}</span>
                </div>
                <div>
                  <img
                    src="../../assets/images/partners/onnuri.png"
                    alt="$t('about.partner-6')"
                  />
                </div>
                <div>
                  <img
                    src="../../assets/images/partners/eblue.png"
                    alt="$t('about.partner-7')"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 mb-5">
            <div class="text-center box">
              <div class="title">{{ $t("about.text-11") }}</div>
              <div class="vertical-center">
                <div>
                  <div>
                    <img
                      src="../../assets/images/partners/sookmyung.png"
                      alt="$t('about.partner-8')"
                    />
                  </div>
                  <span class="badge badge-blue">{{
                    $t("about.text-12")
                  }}</span>
                </div>
                <div>
                  <div>
                    <img
                      src="../../assets/images/partners/mokpo.png"
                      alt="$t('about.partner-9')"
                    />
                  </div>
                  <span class="badge badge-blue">{{
                    $t("about.text-13")
                  }}</span>
                </div>
                <div>
                  <div>
                    <img
                      src="../../assets/images/partners/sufab.png"
                      alt="$t('about.partner-10')"
                    />
                  </div>
                  <span class="badge">{{ $t("about.text-14") }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "About",
  props: {
    msg: String,
  },
};
</script>
