<template>
  <div id="content">
    <section
      class="text-center visual-section"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <div
        class="container"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-duration="1500"
      >
        <h1 class="bold">{{ $route.params.boardType }}</h1>
        <p>목록</p>
      </div>
    </section>
    <div class="container">
      <table class="table">
        <thead v-if="visible">
          <tr>
            <th class="col-md-1">번호</th>
            <th class="col-md-5">제목</th>
            <th class="col-md-2">등록일</th>
            <th class="col-md-3">조회수</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="board.length === 0">
            <td class="p-5" colspan="4">등록된 게시물이 없습니다.</td>
          </tr>
          <tr v-else v-for="(item, index) in board" v-bind:key="item.boardCode">
            <!--          <td class="col-md-1">{{ item.num }}</td>-->
            <td class="col-md-2">{{ index + 1 }}</td>
            <td class="col-md-5 text-left">
              <router-link
                :to="{
                  name: 'BoardView',
                  params: {
                    boardCode: item.boardCode,
                    boardType: item.boardType,
                  },
                }"
              >
                {{ item.boardTitle }}
              </router-link>
            </td>
            <td class="col-md-2">{{ item.insertDt }}</td>
            <td class="col-md-3">{{ item.viewCount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { EventBus } from "@/event-bus";
export default {
  name: "Board",
  props: {
    msg: String,
  },
  data() {
    return {
      // boardType: this.$route.params.boardType,
      visible: true,
      board: [],
    };
  },
  methods: {
    isVisible() {
      this.visible = window.innerWidth > 750;
    },
    getBoardList() {
      let param = new Object();
      param.boardType = this.$route.params.boardType;
      this.api.getBoardList(param).then((res) => {
        this.board = res.boards;
      });
    },
  },
  created() {
    this.isVisible();
    this.getBoardList();
    console.log("BoardTable.created");
    EventBus.$on("resize", this.isVisible);
  },
  mounted() {
    console.log("BoardTable.mounted");
  },
  updated() {
    this.getBoardList();
  },
  beforeDestroy() {
    console.log("BoardTable.beforeDestroy");
    EventBus.$off("resize", this.isVisible);
  },
};
</script>
