<template>
  <div id="content">
    <section
      class="text-center visual-section"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <div class="container">
        <h1 class="bold">{{ $route.params.boardType }}</h1>
        <p>상세</p>
      </div>
    </section>
    <div
      class="container"
      data-aos="fade-up"
      data-aos-offset="100"
      data-aos-duration="1500"
    >
      <div class="pb-4 mb-4 border-bottom">
        <p class="txt-3xl bold mb-2" v-html="board.boardTitle"></p>
        <span class="subText mr-3">등록일</span>
        <span v-html="board.insertDt"> </span>
      </div>
      <div class="board-contents" v-html="board.boardText"></div>
      <div class="board-footer">
        <a href="#" class="btn btn-primary" @click="$router.go(-1)">뒤로가기</a>
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from "@/event-bus";
export default {
  name: "BoardTable",
  props: {
    msg: String,
  },
  data() {
    return {
      // boardType: this.$route.params.boardType,
      visible: true,
      board: "",
    };
  },
  methods: {
    isVisible() {
      this.visible = window.innerWidth > 750;
    },
    getBoard() {
      let param = new Object();
      param.boardCode = this.$route.params.boardCode;
      this.api.getBoard(param).then((res) => {
        this.board = res.board;
        console.log("뉴스 상세");
        console.log(res);
      });
    },
  },
  created() {
    this.isVisible();
    this.getBoard();
    console.log("BoardTable.created");
    EventBus.$on("resize", this.isVisible);
  },
  mounted() {
    console.log("BoardTable.mounted");
  },
  updated() {},
  beforeDestroy() {
    console.log("BoardTable.beforeDestroy");
    EventBus.$off("resize", this.isVisible);
  },
};
</script>
