<template>
  <div id="content">
    <section
      class="text-center visual-section"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <div class="container">
        <h1 class="bold">Diabetes Service</h1>
        <p>
          {{ $t("diabetes.text-1") }}
        </p>
        <p>
          {{ $t("diabetes.text-2") }}
        </p>
        <p>
          {{ $t("diabetes.text-3") }}
        </p>
      </div>
    </section>
    <section
      class="overflow-hidden p-small"
      data-aos="fade-up"
      data-aos-offset="300"
      data-aos-duration="1500"
    >
      <div
        class="d-flex justify-content-center"
        data-aos="fade-up"
        data-aos-offset="300"
        data-aos-duration="1500"
      >
        <div class="square-wrapper">
          <div class="square-row">
            <div class="square">
              <div class="square-text title">
                <p class="txt-xl">{{ $t("diabetes.text-4") }}</p>
                <p class="tit-xl bold mt-3">{{ $t("diabetes.text-5") }}</p>
              </div>
            </div>
            <div class="square blue">
              <div class="square-text white">
                <p>{{ $t("diabetes.text-6-1") }}</p>
                <p>{{ $t("diabetes.text-6-2") }}</p>
              </div>
            </div>
          </div>
          <div class="square-row">
            <div class="square green">
              <div class="square-text white">
                <p>{{ $t("diabetes.text-7-1") }}</p>
                <p>{{ $t("diabetes.text-7-2") }}</p>
              </div>
            </div>
            <div class="square turquoise">
              <div class="square-text white ml-2">
                <p>{{ $t("diabetes.text-8-1") }}</p>
                <p>{{ $t("diabetes.text-8-2") }}</p>
                <p>{{ $t("diabetes.text-8-3") }}</p>
                <p>{{ $t("diabetes.text-8-4") }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-gray p-small">
      <div
        class="container"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-duration="1500"
      >
        <div class="row justify-content-around">
          <div class="col-md-3 col-sm-6 text-center">
            <img
              src="../../assets/images/icon/diabetes/diabetes-icon-01.png"
              alt=""
              class="mb-3"
            />
            <p>{{ $t("diabetes.text-9-1") }}</p>
            <p>{{ $t("diabetes.text-9-2") }}</p>
            <p>{{ $t("diabetes.text-9-3") }}</p>
            <p>{{ $t("diabetes.text-9-4") }}</p>
          </div>
          <div class="col-md-3 col-sm-6 text-center">
            <img
              src="../../assets/images/icon/diabetes/diabetes-icon-02.png"
              alt=""
              class="mb-3"
            />
            <p>{{ $t("diabetes.text-10-1") }}</p>
            <p>{{ $t("diabetes.text-10-2") }}</p>
            <p>{{ $t("diabetes.text-10-3") }}</p>
            <p>{{ $t("diabetes.text-10-4") }}</p>
          </div>
          <div class="col-md-3 col-sm-6 text-center">
            <img
              src="../../assets/images/icon/diabetes/diabetes-icon-03.png"
              alt=""
              class="mb-3"
            />
            <p>{{ $t("diabetes.text-11-1") }}</p>
            <p>{{ $t("diabetes.text-11-2") }}</p>
            <p>{{ $t("diabetes.text-11-3") }}</p>
            <p>{{ $t("diabetes.text-11-4") }}</p>
          </div>
          <div class="col-md-3 col-sm-6 text-center">
            <img
              src="../../assets/images/icon/diabetes/diabetes-icon-04.png"
              alt=""
              class="mb-3"
            />
            <p>{{ $t("diabetes.text-12-1") }}</p>
            <p>{{ $t("diabetes.text-12-2") }}</p>
            <p>{{ $t("diabetes.text-12-3") }}</p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="p-middle"
      data-aos="fade-up"
      data-aos-offset="100"
      data-aos-duration="1500"
    >
      <div class="container">
        <div class="bor-8 border col-md-6 divcenter text-center pt-3 pb-4">
          <div class="col-md-6 divcenter">
            <img
              src="../../assets/images/logo.png"
              alt="로고"
              class="col-md-12 col-sm-6"
            />
          </div>
          <h2 class="point bold mb-3">{{ $t("diabetes.text-13") }}</h2>
          <p class="subText">{{ $t("diabetes.text-14") }}</p>
          <p class="subText">{{ $t("diabetes.text-15") }}</p>
          <p class="subText">{{ $t("diabetes.text-16") }}</p>
          <p class="subText">{{ $t("diabetes.text-17") }}</p>
        </div>
        <div class="d-flex justify-content-center">
          <div class="col-md-4 col-sm-5 mt-5">
            <div class="bg-gray bor-8 text-center p-4">
              <h3 class="bold mb-3">{{ $t("role.job-1") }}</h3>
              <p class="subText">{{ $t("role.job-2") }}</p>
              <p class="subText">{{ $t("role.job-3") }}</p>
              <p class="subText">{{ $t("role.job-4") }}</p>
            </div>
            <div class="text-center">
              <img
                src="../../assets/images/arrow/diabetes-arrow-03.png"
                alt=""
              />
              <div class="navy">
                <p>{{ $t("diabetes.text-18") }}</p>
                <p>{{ $t("diabetes.text-19") }}</p>
                <p>{{ $t("diabetes.text-20") }}</p>
                <p>{{ $t("diabetes.text-21") }}</p>
              </div>
            </div>
          </div>
          <div class="text-center">
            <div>
              <img
                src="../../assets/images/arrow/diabetes-arrow-01.png"
                alt=""
              />
            </div>
            <div>
              <img
                src="../../assets/images/arrow/diabetes-arrow-02.png"
                alt=""
                class="web"
              />
              <img
                src="../../assets/images/arrow/diabetes-arrow-02-mobile.png"
                alt=""
                class="mobile col p-0"
              />
            </div>
          </div>
          <div class="col-md-4 col-sm-5 mt-5">
            <div class="bg-gray bor-8 text-center p-4">
              <h3 class="bold mb-3">{{ $t("diabetes.text-22") }}</h3>
              <p class="subText">{{ $t("diabetes.text-23") }}</p>
              <p class="subText">{{ $t("diabetes.text-24") }}</p>
              <p class="subText">{{ $t("diabetes.text-25") }}</p>
              <p class="subText">{{ $t("diabetes.text-26") }}</p>
            </div>
            <div class="text-center">
              <img
                src="../../assets/images/arrow/diabetes-arrow-03.png"
                alt=""
              />
              <div class="navy">
                <p>{{ $t("diabetes.text-27") }}</p>
                <p>{{ $t("diabetes.text-28") }}</p>
                <p>{{ $t("diabetes.text-29") }}</p>
                <p>{{ $t("diabetes.text-30") }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-gray p-middle">
      <div
        class="container"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-duration="1500"
      >
        <div class="tab">
          <div
            class="tab-btn"
            :class="{ on: !isTabClick }"
            @click="tabSwitch()"
          >
            <p class="txt-2xl bold">{{ $t("diabetes.text-31") }}</p>
          </div>
          <div class="tab-btn" :class="{ on: isTabClick }" @click="tabSwitch()">
            <p class="txt-2xl bold">{{ $t("diabetes.text-32") }}</p>
          </div>
        </div>
        <div class="col-md-10 col-sm-12 text-center divcenter">
          <ul>
            <li class="tab-content" :class="{ hide: isTabClick }">
              <div class="mt-4 mb-4 subText">
                <p>
                  {{ $t("diabetes.text-31-sub-1") }}
                </p>
                <p>
                  {{ $t("diabetes.text-31-sub-2") }}
                </p>
              </div>
              <div class="bg-darker-gray p-3 mb-4">
                {{ $t("diabetes.text-31-1") }}
              </div>
              <div class="bg-darker-gray p-3 mb-4">
                {{ $t("diabetes.text-31-2") }}
              </div>

              <div class="bg-darker-gray p-3 mb-4">
                {{ $t("diabetes.text-31-3") }}
              </div>

              <div class="bg-darker-gray p-3 mb-4">
                {{ $t("diabetes.text-31-4") }}
              </div>

              <div class="bg-darker-gray p-3 mb-4">
                {{ $t("diabetes.text-31-5") }}
              </div>

              <div class="bg-darker-gray p-3 mb-4">
                {{ $t("diabetes.text-31-6") }}
              </div>

              <div class="bg-darker-gray p-3 mb-4">
                {{ $t("diabetes.text-31-7") }}
              </div>
            </li>
            <li class="tab-content" :class="{ hide: !isTabClick }">
              <div class="mt-4 mb-4 subText">
                <p>
                  {{ $t("diabetes.text-32-sub-1") }}
                </p>
                <p>
                  {{ $t("diabetes.text-32-sub-2") }}
                </p>
              </div>
              <div class="bg-darker-gray p-3 mb-4">
                {{ $t("diabetes.text-32-1") }}
              </div>
              <div class="bg-darker-gray p-3 mb-4">
                {{ $t("diabetes.text-32-2") }}
              </div>

              <div class="bg-darker-gray p-3 mb-4">
                {{ $t("diabetes.text-32-3") }}
              </div>

              <div class="bg-darker-gray p-3 mb-4">
                {{ $t("diabetes.text-32-4") }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Diabetes",
  props: {
    msg: String,
  },
  data() {
    return {
      isTabClick: false,
    };
  },
  methods: {
    tabSwitch() {
      this.isTabClick = !this.isTabClick;
    },
  },
};
</script>
