<template>
  <div id="content">
    <section
      class="text-center visual-section"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <h1 class="bold">Exercise Therapy</h1>
      <p>{{ $t("exercise.text-1") }}</p>
      <p>{{ $t("exercise.text-2") }}</p>
    </section>
    <section
      class="overflow-hidden p-small"
      data-aos="fade-up"
      data-aos-offset="100"
      data-aos-duration="1500"
    >
      <div
        class="d-flex justify-content-center"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-duration="1500"
      >
        <div class="square-wrapper">
          <div class="square-row">
            <div class="square">
              <div class="square-text title">
                <p class="txt-xl">{{ $t("exercise.text-3") }}</p>
                <p class="tit-xl bold mt-3">{{ $t("exercise.text-4") }}</p>
              </div>
            </div>
            <div class="square red">
              <div class="square-text white">
                <p>{{ $t("exercise.text-5-1") }}</p>
                <p>{{ $t("exercise.text-5-2") }}</p>
              </div>
            </div>
          </div>
          <div class="square-row">
            <div class="square purple">
              <div class="square-text white">
                <p>{{ $t("exercise.text-6-1") }}</p>
                <p>{{ $t("exercise.text-6-2") }}</p>
              </div>
            </div>
            <div class="square pink">
              <div class="square-text white">
                <p>{{ $t("exercise.text-7-1") }}</p>
                <p>{{ $t("exercise.text-7-2") }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-gray p-small">
      <div
        class="container"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-duration="1500"
      >
        <div class="row justify-content-around">
          <div class="col-md-4 col-sm-12 text-center mb-3">
            <img
              src="../../assets/images/icon/exercise/exercise-icon-01.png"
              alt=""
              class="mb-3"
            />
            <p>{{ $t("exercise.text-8-1") }}</p>
            <p>{{ $t("exercise.text-8-2") }}</p>
            <p>{{ $t("exercise.text-8-3") }}</p>
            <p>{{ $t("exercise.text-8-4") }}</p>
          </div>
          <div class="col-md-4 col-sm-6 text-center mb-3">
            <img
              src="../../assets/images/icon/exercise/exercise-icon-02.png"
              alt=""
              class="mb-3"
            />
            <p>{{ $t("exercise.text-9-1") }}</p>
            <p>{{ $t("exercise.text-9-2") }}</p>
            <p>{{ $t("exercise.text-9-3") }}</p>
          </div>
          <div class="col-md-4 col-sm-6 text-center mb-3">
            <img
              src="../../assets/images/icon/exercise/exercise-icon-03.png"
              alt=""
              class="mb-3"
            />
            <p>{{ $t("exercise.text-10-1") }}</p>
            <p>{{ $t("exercise.text-10-2") }}</p>
            <p>{{ $t("exercise.text-10-3") }}</p>
          </div>
        </div>
      </div>
    </section>
    <section class="p-small">
      <div
        class="container"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-duration="1500"
      >
        <div class="d-flex">
          <div class="col-md-7">
            <div
              class="row justify-content-around text-center border-bottom-4 red"
            >
              <div
                class="p-3 col-md-4 col-sm-12 d-flex align-items-center justify-content-center bg-gray"
              >
                <img
                  src="../../assets/images/icon/exercise/exercise-icon-04.png"
                  alt=""
                />
                <span class="txt-xl bold ml-3">{{
                  $t("exercise.text-11")
                }}</span>
              </div>
              <div
                class="p-3 col-md-4 col-sm-12 d-flex align-items-center justify-content-center bg-gray"
              >
                <img
                  src="../../assets/images/icon/exercise/exercise-icon-05.png"
                  alt=""
                />
                <span class="txt-xl bold ml-3">{{
                  $t("exercise.text-12")
                }}</span>
              </div>
              <div
                class="p-3 col-md-4 col-sm-12 d-flex align-items-center justify-content-center bg-gray"
              >
                <img
                  src="../../assets/images/icon/exercise/exercise-icon-06.png"
                  alt=""
                />
                <span class="txt-xl bold ml-3">{{
                  $t("exercise.text-13")
                }}</span>
              </div>
            </div>
            <div class="text-center arrow-text-box">
              <span class="bg-red text-box">{{ $t("exercise.text-14") }}</span>
              <div class="bar"></div>
              <div class="arrow down"></div>
            </div>
          </div>
          <div class="col-md-5">
            <div
              class="row justify-content-around text-center border-bottom-4 blue"
            >
              <div
                class="p-3 col-md-6 col-sm-12 d-flex align-items-center justify-content-center bg-gray"
              >
                <img
                  src="../../assets/images/icon/exercise/exercise-icon-07.png"
                  alt=""
                />
                <span class="txt-xl bold ml-3">{{
                  $t("exercise.text-15")
                }}</span>
              </div>
              <div
                class="p-3 col-md-6 col-sm-12 d-flex align-items-center justify-content-center bg-gray"
              >
                <img
                  src="../../assets/images/icon/exercise/exercise-icon-08.png"
                  alt=""
                />
                <span class="txt-xl bold ml-3">{{
                  $t("exercise.text-16")
                }}</span>
              </div>
            </div>
            <div class="text-center arrow-text-box">
              <span class="bg-blue text-box">{{ $t("exercise.text-17") }}</span>
              <div class="bar bg-blue"></div>
              <div class="arrow down blue"></div>
            </div>
          </div>
        </div>

        <div
          class="col"
          data-aos="fade-up"
          data-aos-offset="100"
          data-aos-duration="1500"
        >
          <div class="bg-gray border-top-4 p-5">
            <div class="row border-bottom pb-5">
              <div class="col-md-3">
                <p class="txt-3xl subText text-center mb-3">
                  {{ $t("exercise.text-18") }}
                </p>
              </div>
              <div class="col-md-9 row justify-content-around">
                <div class="col-md-4 mb-3">
                  <div class="bg-dark-gray bor-8 p-3 h-100">
                    <p class="txt-xl bold">{{ $t("exercise.text-19") }}</p>
                    <ul class="list-style">
                      <li>{{ $t("exercise.text-19-1") }}</li>
                      <li>{{ $t("exercise.text-19-2") }}</li>
                      <li>{{ $t("exercise.text-19-3") }}</li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <div class="bg-dark-gray bor-8 p-3 h-100">
                    <p class="txt-xl bold">{{ $t("exercise.text-20") }}</p>
                    <ul class="list-style">
                      <li>{{ $t("exercise.text-20-1") }}</li>
                      <li>{{ $t("exercise.text-20-2") }}</li>
                      <li>{{ $t("exercise.text-20-3") }}</li>
                      <li>{{ $t("exercise.text-20-4") }}</li>
                      <li>{{ $t("exercise.text-20-5") }}</li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <div class="bg-dark-gray bor-8 p-3 h-100">
                    <p class="txt-xl bold">{{ $t("exercise.text-21") }}</p>
                    <ul class="list-style">
                      <li>{{ $t("exercise.text-21-1") }}</li>
                      <li>{{ $t("exercise.text-21-2") }}</li>
                      <li>{{ $t("exercise.text-21-3") }}</li>
                      <li>{{ $t("exercise.text-21-4") }}</li>
                      <li>{{ $t("exercise.text-21-5") }}</li>
                      <li>{{ $t("exercise.text-21-6") }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-md-6 col-sm-12 row justify-content-center mt-3 mb-3"
            >
              <div class="col-md-5">
                <span class="dot bg-red"></span
                ><span class="sub-text ml-1">{{ $t("exercise.text-22") }}</span>
              </div>
              <div class="col-md-5">
                <span class="dot bg-blue"></span
                ><span class="sub-text ml-1">{{ $t("exercise.text-23") }}</span>
              </div>
            </div>

            <div class="d-flex text-center white">
              <div class="col-md-6 row justify-content-center">
                <div class="col-md-10 bg-blue bor-50 p-3 txt-xl mb-5">
                  {{ $t("exercise.text-24") }}
                </div>
                <div class="col-md-2 text-left"></div>
                <div class="d-flex col-12">
                  <div class="col-md-10 col-sm-11 p-0">
                    <p class="bg-dark bor-8 p-3">
                      {{ $t("exercise.text-25") }}
                    </p>
                    <div class="bar bar-sm bg-dark"></div>
                    <div class="arrow down arrow-sm"></div>
                  </div>

                  <div class="col-md-2 text-left d-flex pt-3">
                    <span class="dot bg-red"></span>
                  </div>
                </div>
                <div class="d-flex col-12">
                  <div class="col-md-10 col-sm-11 p-0">
                    <p class="bg-dark bor-8 p-3">
                      {{ $t("exercise.text-26") }}
                    </p>
                    <div class="bar bar-sm bg-dark"></div>
                    <div class="arrow down arrow-sm"></div>
                  </div>
                  <div class="col-md-2 text-left d-flex pt-3">
                    <span class="dot bg-blue"></span>
                  </div>
                </div>
                <div class="d-flex col-12">
                  <div class="col-md-10 col-sm-11 p-0">
                    <p class="bg-dark bor-8 p-3">
                      {{ $t("exercise.text-27") }}
                    </p>
                    <div class="bar bar-sm bg-dark"></div>
                    <div class="arrow down arrow-sm"></div>
                  </div>
                  <div class="col-md-2 text-left d-flex pt-3">
                    <span class="dot bg-blue"></span>
                    <span class="dot bg-red ml-1"></span>
                  </div>
                </div>

                <div class="d-flex col-12">
                  <div class="col-md-10 col-sm-11 p-0">
                    <p class="bg-dark bor-8 p-3">
                      {{ $t("exercise.text-28") }}
                    </p>
                    <div class="bar bar-sm bg-dark"></div>
                    <div class="arrow down arrow-sm"></div>
                  </div>
                  <div class="col-md-2 text-left d-flex pt-3">
                    <span class="dot bg-blue"></span>
                    <span class="dot bg-red ml-1"></span>
                  </div>
                </div>
                <div class="d-flex col-12">
                  <div class="col-md-10 col-sm-11 p-0">
                    <p class="bg-dark bor-8 p-3">
                      {{ $t("exercise.text-29") }}
                    </p>
                  </div>
                  <div class="col-md-2 text-left d-flex pt-3">
                    <span class="dot bg-red"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 row justify-content-center">
                <div class="col-md-10 bg-blue bor-50 p-3 txt-xl mb-5">
                  {{ $t("exercise.text-30") }}
                </div>
                <div class="col-md-10">
                  <p class="bg-dark bor-8 p-3">
                    {{ $t("exercise.text-30-1") }}
                  </p>
                  <div class="bar bar-sm bg-dark"></div>
                  <div class="arrow down arrow-sm"></div>
                </div>
                <div class="col-md-10">
                  <p class="bg-dark bor-8 p-3">
                    {{ $t("exercise.text-30-2") }}
                  </p>
                  <div class="bar bar-sm bg-dark"></div>
                  <div class="arrow down arrow-sm"></div>
                </div>
                <div class="col-md-10">
                  <p class="bg-dark bor-8 p-3">
                    {{ $t("exercise.text-30-3") }}
                  </p>
                  <div class="bar bar-sm bg-dark"></div>
                  <div class="arrow down arrow-sm"></div>
                </div>
                <div class="col-md-10">
                  <p class="bg-dark bor-8 p-3">
                    {{ $t("exercise.text-30-4") }}
                  </p>
                  <div class="bar bar-sm bg-dark"></div>
                  <div class="arrow down arrow-sm"></div>
                </div>
                <div class="col-md-10">
                  <p class="bg-dark bor-8 p-3">
                    {{ $t("exercise.text-30-5") }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="row justify-content-center"
            data-aos="fade-down"
            data-aos-duration="1000"
          >
            <img src="../../assets/images/arrow/exercise-arrow-01.png" alt="" />
          </div>
        </div>
        <div class="bg-gray p-5">
          <div class="d-flex text-center white justify-content-center">
            <div class="col-md-6 row justify-content-center">
              <div class="col-md-10 bg-blue bor-50 p-3 txt-xl">
                {{ $t("exercise.text-31") }}
              </div>
              <p class="subText mt-3 mb-4">
                {{ $t("exercise.text-31-1") }}
              </p>
            </div>
          </div>

          <div class="row justify-content-around">
            <div class="col-md-4 col-sm-12">
              <div class="bg-white bor-8 text-center p-4 h-100">
                <p class="txt-xl bold">{{ $t("exercise.text-32") }}</p>
                <div class="mt-3 subText">
                  {{ $t("exercise.text-32-1") }}
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="bg-white bor-8 text-center p-4 h-100">
                <p class="txt-xl bold">{{ $t("exercise.text-33") }}</p>
                <div class="mt-3 subText">
                  {{ $t("exercise.text-33-1") }}
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="bg-white bor-8 text-center p-4 h-100">
                <p class="txt-xl bold">{{ $t("exercise.text-34") }}</p>
                <div class="mt-3 subText">
                  {{ $t("exercise.text-34-1") }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="p-small"
      data-aos="fade-up"
      data-aos-offset="100"
      data-aos-duration="1500"
    >
      <div class="container">
        <div class="d-flex">
          <div class="col-md-4 col-sm-4 text-center">
            <div class="bg-gray border-bottom-4 blue p-4">
              <p class="txt-xl bold subText mb-3">
                {{ $t("exercise.text-35") }}
              </p>
              <p class="bold">{{ $t("exercise.text-35-1") }}</p>
              <p class="bold">{{ $t("exercise.text-35-2") }}</p>
              <p class="bold">{{ $t("exercise.text-35-3") }}</p>
            </div>
            <div class="text-center arrow-text-box">
              <span class="bg-blue text-box">{{ $t("exercise.text-36") }}</span>
              <div class="bar bg-blue"></div>
              <div class="arrow down blue"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 text-center">
            <div class="bg-gray border-bottom-4 blue p-4">
              <p class="mb-3">
                <img
                  src="../../assets/images/partners/severance.png"
                  alt="세브란스 병원"
                  style="max-height: 33px; max-width: 100%"
                />
              </p>
              <div class="col-md-7 divcenter">
                <p class="bold txt-3xl">{{ $t("exercise.text-37") }}</p>
              </div>
            </div>
            <div class="text-center arrow-text-box">
              <span class="bg-blue text-box col">{{
                $t("exercise.text-38")
              }}</span>
              <div class="bar bg-blue"></div>
              <div class="arrow down blue"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 text-center">
            <div class="bg-gray border-bottom-4 blue p-4">
              <p class="mb-3">
                <img
                  src="../../assets/images/partners/madirang.png"
                  alt="마디랑 정형외과"
                  style="max-height: 30px; max-width: 100%"
                />
              </p>
              <p class="bold">{{ $t("exercise.text-39-1") }}</p>
              <p class="bold">{{ $t("exercise.text-39-2") }}</p>
              <p class="bold">{{ $t("exercise.text-39-3") }}</p>
            </div>
            <div class="text-center arrow-text-box">
              <span class="bg-blue text-box">{{ $t("exercise.text-40") }}</span>
              <div class="bar bg-blue"></div>
              <div class="arrow down blue"></div>
            </div>
          </div>
        </div>
        <div
          class="col"
          data-aos="fade-up"
          data-aos-offset="100"
          data-aos-duration="1500"
        >
          <div class="bg-gray border-top-4 p-4 text-center">
            <div class="d-flex justify-content-center">
              <div class="col-md-6 row justify-content-center">
                <div class="col-md-10 bg-dark bor-50 p-3 txt-xl mb-5 white">
                  {{ $t("exercise.text-41") }}
                </div>
              </div>
            </div>

            <div class="d-flex">
              <div class="col">
                <p class="txt-3xl bold">OMICS</p>
              </div>
              <div class="col">
                <p class="txt-3xl bold">{{ $t("exercise.text-42") }}</p>
              </div>
              <div class="col">
                <p class="txt-3xl bold">{{ $t("exercise.text-43") }}</p>
              </div>
            </div>

            <div class="row p-small pb-0">
              <div class="col-md-3 col-sm-6 mb-3">
                <div class="bg-white bor-8 p-4">
                  <img
                    src="../../assets/images/partners/ewha_womans.png"
                    alt=""
                    class="col mb-3"
                  />
                  <div class="txt-lg mb-3">
                    <span class="subText txt-md">{{
                      $t("exercise.text-44")
                    }}</span>
                    <span class="bold ml-1">{{
                      $t("exercise.text-44-1")
                    }}</span>
                  </div>
                  <p class="navy">{{ $t("exercise.text-44-2") }}</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 mb-3">
                <div class="bg-white bor-8 p-4">
                  <img
                    src="../../assets/images/partners/ewha_womans.png"
                    alt=""
                    class="col mb-3"
                  />
                  <div class="txt-lg mb-3">
                    <span class="subText txt-md">{{
                      $t("exercise.text-45")
                    }}</span>
                    <span class="bold ml-1">{{
                      $t("exercise.text-45-1")
                    }}</span>
                  </div>
                  <p class="navy">{{ $t("exercise.text-45-2") }}</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 mb-3">
                <div class="bg-white bor-8 p-4">
                  <img
                    src="../../assets/images/partners/sookmyung.png"
                    alt=""
                    class="col mb-3"
                  />
                  <div class="txt-lg mb-3">
                    <span class="subText txt-md">{{
                      $t("exercise.text-46")
                    }}</span>
                    <span class="bold ml-1">{{
                      $t("exercise.text-46-1")
                    }}</span>
                  </div>
                  <p class="navy">{{ $t("exercise.text-46-2") }}</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 mb-3">
                <div class="bg-white bor-8 p-4">
                  <img
                    src="../../assets/images/partners/yonsei_medical.png"
                    alt="연세대학교"
                    class="col mb-3"
                    style="height: 34px; width: auto"
                  />
                  <div class="txt-lg mb-3">
                    <span class="subText txt-md">{{
                      $t("exercise.text-47")
                    }}</span>
                    <span class="bold ml-1">{{
                      $t("exercise.text-47-1")
                    }}</span>
                  </div>
                  <p class="navy">{{ $t("exercise.text-47-2") }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="col row justify-content-center">
            <img
              src="../../assets/images/arrow/exercise-arrow-01.png"
              alt=""
              data-aos="fade-down"
              data-aos-duration="1000"
            />
            <div class="bg-gray bor-8 p-4 text-center col-md-12">
              <p class="txt-3xl bold">{{ $t("exercise.text-48") }}</p>
              <p class="txt-3xl bold">{{ $t("exercise.text-49") }}</p>
              <p class="subText mt-3 mb-3">{{ $t("exercise.text-50") }}</p>
            </div>
          </div>
          <div class="col row justify-content-center">
            <img
              src="../../assets/images/arrow/exercise-arrow-01.png"
              alt=""
              data-aos="fade-down"
              data-aos-duration="1000"
            />
            <div class="bg-gray bor-8 p-4 text-center col-md-12">
              <p class="txt-3xl bold">{{ $t("exercise.text-51") }}</p>
              <p class="txt-3xl bold">{{ $t("exercise.text-52") }}</p>
              <p class="subText mt-3 mb-3">
                {{ $t("exercise.text-53") }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Exercise",
  props: {
    msg: String,
  },
};
</script>
