<template>
  <div id="content">
    <section
      class="text-center visual-section"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <div class="container">
        <h1 class="bold mb-5">Service Overview</h1>
        <p>
          {{ $t("service.text-1") }}
        </p>
        <p>
          {{ $t("service.text-2-1") }}
        </p>
        <p>
          {{ $t("service.text-2-2") }}
        </p>
        <p>
          {{ $t("service.text-3") }}
        </p>
      </div>
    </section>
    <section class="p-small">
      <div
        class="container"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-duration="1500"
      >
        <div
          class="d-flex"
          data-aos="fade-up"
          data-aos-offset="100"
          data-aos-duration="1500"
        >
          <div class="col-md-2 col-sm-4 text-center">
            <div class="circle point-border divcenter">
              <p>{{ $t("service.text-4") }}</p>
            </div>
            <div class="bar"></div>
            <div class="arrow down"></div>
          </div>
          <div class="col-md-10 col-sm-8 border-bottom pb-5 mb-5">
            <p class="txt-3xl bold mb-4">{{ $t("service.text-4-1") }}</p>
            <div class="row">
              <div class="col-md-4 col-sm-12 mb-3">
                <div class="bg-gray p-3 d-flex align-items-center bor-8">
                  <div class="icon">
                    <img
                      src="../../assets/images/icon/overview/overview-icon-01.png"
                      alt=""
                    />
                  </div>
                  <div class="ml-3">
                    <p class="txt-lg bold">{{ $t("service.text-5") }}</p>
                    <p class="sub-text">{{ $t("service.text-5-1") }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 mb-3">
                <div class="bg-gray p-3 d-flex align-items-center bor-8">
                  <div class="icon">
                    <img
                      src="../../assets/images/icon/overview/overview-icon-02.png"
                      alt=""
                    />
                  </div>
                  <div class="ml-3">
                    <p class="txt-lg bold">{{ $t("service.text-6") }}</p>
                    <p class="sub-text">{{ $t("service.text-6-1") }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 mb-3">
                <div class="bg-gray p-3 d-flex align-items-center bor-8">
                  <div class="icon">
                    <img
                      src="../../assets/images/icon/overview/overview-icon-03.png"
                      alt=""
                    />
                  </div>
                  <div class="ml-3">
                    <p class="txt-lg bold">{{ $t("service.text-7") }}</p>
                    <p class="sub-text">{{ $t("service.text-7-1") }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 mb-3">
                <div class="bg-gray p-3 d-flex align-items-center bor-8">
                  <div class="icon">
                    <img
                      src="../../assets/images/icon/overview/overview-icon-04.png"
                      alt=""
                    />
                  </div>
                  <div class="ml-3">
                    <p class="txt-lg bold">{{ $t("service.text-8") }}</p>
                    <p class="sub-text">{{ $t("service.text-8-1") }}/p></p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 mb-3">
                <div class="bg-gray p-3 d-flex align-items-center bor-8">
                  <div class="icon">
                    <img
                      src="../../assets/images/icon/overview/overview-icon-05.png"
                      alt=""
                    />
                  </div>
                  <div class="ml-3">
                    <p class="txt-lg bold">{{ $t("service.text-9") }}</p>
                    <p class="sub-text">{{ $t("service.text-9-1") }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 mb-3">
                <div class="bg-gray p-3 d-flex align-items-center bor-8">
                  <div class="icon">
                    <img
                      src="../../assets/images/icon/overview/overview-icon-06.png"
                      alt=""
                    />
                  </div>
                  <div class="ml-3">
                    <p class="txt-lg bold">{{ $t("service.text-10") }}</p>
                    <p class="sub-text">{{ $t("service.text-10-1") }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="d-flex"
          data-aos="fade-up"
          data-aos-offset="100"
          data-aos-duration="1500"
        >
          <div class="col-md-2 col-sm-4 text-center">
            <div class="circle point-border divcenter">
              <p v-html="$t('service.text-11')"></p>
            </div>
            <div class="bar"></div>
            <div class="arrow down"></div>
          </div>
          <div class="col-md-10 col-sm-8 border-bottom pb-5 mb-5">
            <p class="txt-3xl bold mb-4">{{ $t("service.text-12") }}</p>
            <div class="row align-items-center">
              <div class="col-md-7 text-center">
                <div class="bg-gray row p-4 justify-content-around bor-8">
                  <div class="col-md-6">
                    <img
                      src="../../assets/images/icon/overview/overview-icon-09.png"
                      alt=""
                    />
                    <p class="standard">AI Healthcare Platform</p>
                  </div>
                  <div class="col-md-6 bg-dark-gray p-3 bor-8">
                    <p class="bold">Mentoring Group</p>
                    <p class="sub-text">{{ $t("service.text-13") }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4 text-center">
                <div class="bg-gray p-3 bor-8">
                  <img
                    src="../../assets/images/icon/overview/overview-icon-08.png"
                    alt=""
                  />
                  <p class="standard">Private Cloud</p>
                  <p class="standard">PHR Interface</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="d-flex"
          data-aos="fade-up"
          data-aos-offset="100"
          data-aos-duration="1500"
        >
          <div class="col-md-2 col-sm-4 text-center">
            <div class="circle point-border divcenter">
              <p v-html="$t('service.text-14')"></p>
            </div>
            <div class="bar"></div>
            <div class="arrow down"></div>
          </div>
          <div class="col-md-10 col-sm-8 border-bottom pb-5 mb-5">
            <p class="txt-3xl bold mb-4">{{ $t("service.text-15") }}</p>
            <div class="row">
              <div class="bg-gray p-3 px-4 bor-50 m-2">
                {{ $t("service.text-14-1") }}
              </div>
              <div class="bg-gray p-3 px-4 bor-50 m-2">
                {{ $t("service.text-14-2") }}
              </div>
              <div class="bg-gray p-3 px-4 bor-50 m-2">
                {{ $t("service.text-14-3") }}
              </div>
              <div class="bg-gray p-3 px-4 bor-50 m-2">
                {{ $t("service.text-14-4") }}
              </div>
              <div class="bg-gray p-3 px-4 bor-50 m-2">
                {{ $t("service.text-14-5") }}
              </div>
              <div class="bg-gray p-3 px-4 bor-50 m-2">
                {{ $t("service.text-14-6") }}
              </div>
              <div class="bg-gray p-3 px-4 bor-50 m-2">
                {{ $t("service.text-14-7") }}
              </div>
            </div>
          </div>
        </div>

        <div
          class="d-flex"
          data-aos="fade-up"
          data-aos-offset="100"
          data-aos-duration="1500"
        >
          <div class="col-md-2 col-sm-4 text-center">
            <div class="circle point-border divcenter">
              <p v-html="$t('service.text-16')"></p>
            </div>
          </div>
          <div class="col-md-10 col-sm-8 border-bottom pb-5 mb-5">
            <p class="txt-3xl bold mb-4">
              {{ $t("service.text-17") }}
            </p>
            <div class="row">
              <div class="col-md-7 text-center">
                <div
                  class="bg-gray row p-3 justify-content-around align-items-center bor-8"
                >
                  <div class="col-md-6">
                    <img
                      src="../../assets/images/icon/overview/overview-icon-07.png"
                      alt=""
                    />
                    <p class="standard" v-html="$t('service.text-16-1')"></p>
                    <p class="standard" v-html="$t('service.text-16-2')"></p>
                  </div>
                  <div class="col-md-6 bg-dark-gray p-3 bor-8">
                    <p class="bold">{{ $t("service.text-16-3") }}</p>
                    <p class="sub-text">{{ $t("service.text-16-4") }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4 text-center">
                <div
                  class="bg-gray d-flex align-items-center justify-content-center bor-8 p-3 h-100"
                >
                  <div>
                    <p class="standard">{{ $t("service.text-18") }}</p>
                    <p class="sub-text">{{ $t("service.text-18-1") }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Exercise",
  props: {
    msg: String,
  },
};
</script>
