<template>
  <div>BoardRemove</div>
</template>

<script>
export default {
  name: "BoardRemove",
  created() {
    console.log("BoardRemove.created");
  },
  mounted() {
    console.log("BoardRemove.mounted");
  },
  beforeDestroy() {
    console.log("BoardRemove.beforeDestroy");
  },
};
</script>
