<template>
  <div id="content">
    <section>
      <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <p class="title">게시판</p>
          <router-link to="/admin/boardAdd" class="btn btn-primary"
            >글쓰기</router-link
          >
        </div>
        <BoardTable></BoardTable>
      </div>
    </section>
  </div>
</template>

<script>
import BoardTable from "../../board/BoardTable";

export default {
  name: "BoardList",
  components: { BoardTable },
  data() {
    return {};
  },
  methods: {},
  created() {
    console.log("BoardList.created");
  },
  mounted() {
    console.log("BoardList.mounted");
  },
  beforeDestroy() {
    console.log("BoardList.beforeDestroy");
  },
};
</script>
