<template>
  <div id="content">
    <section>
      <div class="container">
        <div class="d-flex justify-content-between align-items-center mt-3">
          <p class="title">글쓰기</p>
        </div>

        <div class="form-wrapper form-inline">
          <label for="boardType" class="form-label">카테고리</label>
          <select
            id="boardType"
            type="text"
            name="boardType"
            class="form-control"
            v-model="boardType"
          >
            <option value="notice">공지</option>
            <option value="media">뉴스</option>
          </select>
        </div>
        <div class="form-wrapper form-inline">
          <label for="boardTitle" class="form-label">글제목</label>
          <input
            id="boardTitle"
            name="boardTitle"
            type="text"
            class="form-control"
            v-model="boardTitle"
          />
        </div>
        <div class="d-flex">
          <div class="col-md-6 form-wrapper form-inline mt-0">
            <label for="viewStartDate" class="form-label">게시일</label>
            <input
              id="viewStartDate"
              type="date"
              name="viewStartDate"
              class="form-control"
              v-model="viewStartDate"
            />
          </div>
          <div class="col-md-6 form-wrapper form-inline mt-0">
            <label for="viewEndDate" class="form-label">종료일</label>
            <input
              id="viewEndDate"
              type="date"
              name="viewEndDate"
              class="form-control"
              v-model="viewEndDate"
            />
          </div>
        </div>
        <VueEditor v-model="htmlForEditor" :editorToolbar="toolbar"></VueEditor>
        <div class="d-flex justify-content-end mt-3">
          <button class="btn btn-primary" v-on:click="reviseBoard()">
            저장하기
          </button>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { EventBus } from "@/event-bus";
import { VueEditor } from "vue2-quill-editor";

export default {
  name: "BoardRevise",
  components: {
    VueEditor,
  },
  data() {
    return {
      htmlForEditor: "",
      boardType: this.$route.params.boardType,
      boardTitle: null,
      boardText: null,
      viewStartDate: null,
      viewEndDate: null,
      toolbar: [
        ["bold", "italic", "underline", "strike"],
        [{ list: "ordered" }, { list: "bullet" }],
        [{ header: 1 }, { header: 2 }],
        ["image"],
      ],
    };
  },
  methods: {
    isVisible() {
      this.visible = window.innerWidth > 750;
    },
    getBoard() {
      let param = new Object();
      param.boardCode = this.$route.params.boardCode;
      this.api.getBoard(param).then((res) => {
        this.boardTitle = res.board.boardTitle;
        this.htmlForEditor = res.board.boardText;
        if (res.board.viewStartDate)
          this.viewStartDate = res.board.viewStartDate;
        if (res.board.viewEndDate) this.viewEndDate = res.board.viewEndDate;
      });
    },
    reviseBoard() {
      let param = new Object();
      param.boardCode = this.$route.params.boardCode;
      param.boardType = this.boardType;
      param.boardTitle = this.boardTitle;
      param.boardText = this.htmlForEditor;
      param.viewStartDate = this.viewStartDate;
      param.viewEndDate = this.viewEndDate;
      this.api.reviseBoard(param).then(() => {
        this.$router.go(-1);
      });
    },
  },
  created() {
    this.isVisible();
    this.getBoard();
    console.log("BoardRevise.created");
    EventBus.$on("resize", this.isVisible);
  },
  mounted() {
    console.log("BoardRevise.mounted");
  },
  beforeDestroy() {
    console.log("BoardRevise.beforeDestroy");
    EventBus.$off("resize", this.isVisible);
  },
};
</script>
