<template>
  <div id="content">
    <section>
      <!-- board list  -->
      <boardView></boardView>
    </section>
  </div>
</template>

<script>
import { EventBus } from "@/event-bus";
import boardView from "../../board/BoardView";
export default {
  name: "AdminBoardGet",
  components: { boardView },
  methods: {
    isVisible() {
      this.visible = window.innerWidth > 750;
    },
  },
  created() {
    this.isVisible();
    console.log("BoardGet.created");
    EventBus.$on("resize", this.isVisible);
  },
  mounted() {
    console.log("BoardGet.mounted");
  },
  beforeDestroy() {
    console.log("BoardGet.beforeDestroy");
    EventBus.$off("resize", this.isVisible);
  },
};
</script>
