<template>
  <div class="header">
    <router-link to="/admin/login" id="logo">
      <img src="../../assets/images/logo.png" alt="로고" />
    </router-link>
    <div class="gnb" v-if="isMobile">
      <ul>
        <li>
          <router-link
            :to="{ name: 'AdminBoardList', params: { boardType: 'notice' } }"
          >
            공지 목록
          </router-link>
        </li>
        <li>
          <router-link
            :to="{ name: 'AdminBoardList', params: { boardType: 'media' } }"
          >
            뉴스 목록
          </router-link>
        </li>
      </ul>
    </div>

    <div class="mobile-nav-wrap" role="navigation" v-else>
      <ul
        class="mobile-header-nav slide-reset"
        :class="{ 'slide-show': showMobileNav }"
      >
        <li
          v-for="(item, index) in list"
          v-bind:key="item.id"
          @click="updateSubMenuShow(index)"
        >
          <div class="txt-lg">{{ item.menu }}</div>
          <div class="arr">
            <img
              src="../../assets/images/btn-arrow@2x.png"
              alt="버튼"
              :class="{
                'rot-reset': !item.show,
                rot: item.show,
              }"
            />
          </div>
          <ul class="sub_gnb" :class="{ open: item.show, hide: !item.show }">
            <li v-for="subItem in item.submenu" v-bind:key="subItem.id">
              <p @click="movePage(subItem.link)">{{ subItem.name }}</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <a
      class="mobile-menu-toggle toggle-menu hamburger-menu"
      href="#"
      :class="{ open: showMobileNav }"
      @click="showMobileNav = !showMobileNav"
    >
      <span class="menu-item"></span>
      <span class="menu-item"></span>
      <span class="menu-item"></span>
    </a>
  </div>
</template>

<script>
import { EventBus } from "@/event-bus";

export default {
  name: "Top",
  props: {
    msg: String,
  },
  data() {
    return {
      isMobile: false,
      showMobileNav: false,
      showSubMenu: true,
      list: [
        {
          id: 1,
          menu: "미디어",
          submenu: [
            { id: 1, name: "뉴스", link: "notice" },
            { id: 2, name: "공지", link: "media" },
          ],
          show: false,
        },
      ],
    };
  },
  methods: {
    checkWidth() {
      this.isMobile = window.innerWidth > 750;
    },
    updateSubMenuShow(index) {
      for (let num in this.list) {
        this.list[num].show = false;
      }
      this.list[index].show = !this.list[index].show;
    },
    resize() {
      // console.log("OrderList.. resize...");
      this.checkWidth();
    },
    movePage(path) {
      this.$router.replace(path);
      this.showMobileNav = false;
    },
    changeLocale(locale) {
      this.$i18n.locale = locale;
    },
  },
  created() {
    this.checkWidth();
    EventBus.$on("resize", this.resize);
  },
  updated() {},
  beforeDestroy() {
    EventBus.$off("resize", this.resize);
  },
};
</script>
