<template>
  <div class="footer">
    <div class="container text-center">
      <img src="../../assets/images/logo_text.png" class="logo" alt="" />
      <p>서울특별시 용산구 청파로47길 99 약학대학 3F 307호</p>
      <p>사업자 등록번호 527-88-02200</p>
      <div class="d-flex justify-content-center info-form">
        <p>tel : 02-718-0618</p>
        <p>fax : 02-718-0619</p>
      </div>
      <p class="tit-sm white bold">헤이븐케어(주)</p>
      <p class="copyright">Copyright © 2021 HAVENCARE All rights reserved.</p>
    </div>
  </div>
</template>
