<template>
  <div class="header">
    <router-link to="/" id="logo">
      <img src="../../assets/images/logo.png" alt="로고" />
    </router-link>
    <div class="gnb" v-if="isMobile">
      <ul>
        <li>
          <a href="#">{{ $t("header.menu-1") }}</a>
          <ul class="sub_gnb">
            <li>
              <router-link to="/about">{{ $t("header.menu-1-1") }}</router-link>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">{{ $t("header.menu-2") }}</a>
          <ul class="sub_gnb">
            <li>
              <router-link to="/service">{{
                $t("header.menu-2-1")
              }}</router-link>
            </li>
            <li>
              <router-link to="/diabetes">{{
                $t("header.menu-2-2")
              }}</router-link>
            </li>
            <li>
              <router-link to="/exercise">{{
                $t("header.menu-2-3")
              }}</router-link>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">{{ $t("header.menu-3") }}</a>
          <ul class="sub_gnb">
            <li>
              <router-link
                :to="{ name: 'Board', params: { boardType: 'notice' } }"
                >{{ $t("header.menu-3-1") }}</router-link
              >
            </li>
            <li>
              <router-link
                :to="{ name: 'Board', params: { boardType: 'media' } }"
                >{{ $t("header.menu-3-2") }}</router-link
              >
            </li>
          </ul>
        </li>
        <li>
          <div class="selectBox">
            <button class="label">{{ $t("header.locale") }}</button>
            <ul class="selectList">
              <li class="option" @click="changeLocale('ko')">kr</li>
              <li class="option" @click="changeLocale('en')">en</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="mobile-nav-wrap" role="navigation" v-else>
      <ul
        class="mobile-header-nav slide-reset"
        :class="{ 'slide-show': showMobileNav }"
      >
        <li
          v-for="(item, index) in list"
          v-bind:key="item.id"
          @click="updateSubMenuShow(index)"
        >
          <div class="txt-lg">{{ item.menu }}</div>
          <div class="arr">
            <img
              src="../../assets/images/btn-arrow@2x.png"
              alt="버튼"
              :class="{
                'rot-reset': !item.show,
                rot: item.show,
              }"
            />
          </div>
          <ul class="sub_gnb" :class="{ open: item.show, hide: !item.show }">
            <li v-for="subItem in item.submenu" v-bind:key="subItem.id">
              <p @click="movePage(subItem.link)">{{ subItem.name }}</p>
            </li>
          </ul>
        </li>
        <li>
          <div class="selectBox">
            <ul class="selectList">
              <li class="option">
                <a href="#" @click="changeLocale('ko')">kr</a>
              </li>
              <li class="option">
                <a href="#" @click="changeLocale('en')">en</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <a
      class="mobile-menu-toggle toggle-menu hamburger-menu"
      href="#"
      :class="{ open: showMobileNav }"
      @click="showMobileNav = !showMobileNav"
    >
      <span class="menu-item"></span>
      <span class="menu-item"></span>
      <span class="menu-item"></span>
    </a>
  </div>
</template>

<script>
import { EventBus } from "@/event-bus";

export default {
  name: "Top",
  props: {
    msg: String,
  },
  data() {
    return {
      isMobile: false,
      showMobileNav: false,
      showSubMenu: true,
      list: [
        {
          id: 1,
          menu: "회사",
          submenu: [{ id: 1, name: "소개", link: "about" }],
          show: false,
        },
        {
          id: 2,
          menu: "서비스",
          submenu: [
            { id: 1, name: "개요", link: "service" },
            { id: 2, name: "당뇨 서비스", link: "diabetes" },
            { id: 3, name: "운동 처방", link: "exercise" },
          ],
          show: false,
        },
        {
          id: 3,
          menu: "미디어",
          submenu: [
            { id: 1, name: "공지", link: "notice" },
            { id: 2, name: "뉴스", link: "media" },
          ],
          show: false,
        },
      ],
    };
  },
  methods: {
    checkWidth() {
      this.isMobile = window.innerWidth > 750;
    },
    updateSubMenuShow(index) {
      for (let num in this.list) {
        this.list[num].show = false;
      }
      this.list[index].show = !this.list[index].show;
    },
    resize() {
      // console.log("OrderList.. resize...");
      this.checkWidth();
    },
    movePage(path) {
      this.$router.replace(path);
      this.showMobileNav = false;
    },
    changeLocale(locale) {
      this.$i18n.locale = locale;
    },
  },
  created() {
    this.checkWidth();
    EventBus.$on("resize", this.resize);
  },
  updated() {},
  beforeDestroy() {
    EventBus.$off("resize", this.resize);
  },
};
</script>
