.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
.web {
    display: block;
}
.mobile {
    display: none;
}
#content {
    position: relative;
    min-height: calc(100vh - 8vh - 64px);
    height: 100%;
}
#container .header {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 100%;
    height: 96px;
    transition: all 0.3s;
    z-index: 100;
    position: fixed;
}
#container .header.scrolled {
    background: #fff;
}
/* .header:hover {
    background-color: transparent;
} */
#container .header #logo {
    width: 200px;
    margin-top: 16px;
    align-items: center;
    z-index: 99;
}
.header #logo img {
    width: 100%;
}

#container .header .gnb {
    margin-left: 0;
    text-align: center;
    position: relative;
    width: 50%;
    margin-top: 20px;
}

#container .header .gnb > ul {
    display: flex;
    justify-content: end;
}
#container .header .gnb > ul > li {
    display: inline-block;
    position: relative;
    /* width: 100%; */
    transition: all 0.3s;
    height: 0;
    padding: 0 24px;
}

#container .header .gnb > ul > li:hover:before {
    opacity: 1;
}
#container .header .gnb > ul > li > a {
    position: relative;
    width: 100%;
    padding: 20px;
    display: block;
    font-size: 16px;
    transition: all 0.3s;
    z-index: 999;
}

#container .header .gnb > ul > li:hover {
    /* background: #fff;
    box-shadow: 0px 2px 16px 0 rgba(22, 30, 53, 0.16);
    border-radius: 4px;
    height: 100%;*/
}

#container .header .gnb > ul > li:last-child:hover {
    background: transparent;
    box-shadow: none;
}

#container .header .gnb > ul > li:hover > a {
    color: #000;
}
#container .header .gnb > ul > li .sub_gnb {
    /* display: none; */
    opacity: 0;
    height: 0;
    position: relative;
    top: -52px;
    width: 100%;
    transition: all 0.3s;
    padding-bottom: 8px;
    margin: 0;
    color: #d82b09;
    overflow: hidden;
}
/* .header .gnb > ul > li:hover .sub_gnb:after {
    height: calc(100% + 52px);
}
.header .gnb > ul > li .sub_gnb:after {
    transition: all 0.5s;
    height: 0;
    border-radius: 4px;
    display: block;
    content: '';
    background: #fff;
    box-shadow: 0px 2px 16px 0 rgba(22, 30, 53, 0.16);
    position: absolute;
    top: -52px;
    width: 100%;
    z-index: -1;
} */
#container .header .gnb > ul > li:hover .sub_gnb {
    /* display: block; */
    height: auto;
    opacity: 1;
    padding-top: 52px;
    z-index: 1;
    font-size: 16px;
    background: #fff;
    box-shadow: 0px 2px 16px 0 rgba(22, 30, 53, 0.16);
    border-radius: 4px;
}

#container .header .gnb > ul > li .sub_gnb > li {
    display: block;
    padding: 14px;
    text-align: center;
}

.visual {
    position: relative;
    height: calc(100vh - 64px);
}

.footer {
    min-height: 264px;
    padding: 46px 0;
    background: #3c3c3c;
    color: #8c8c8c;
}

.footer p {
    margin: 8px 0;
    font-size: 14px;
}

.footer .copyright {
    color: rgb(202, 202, 202);
}

.footer .info-form p {
    position: relative;
    margin: 0 12px;
}
.footer .info-form p:after {
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background: #8c8c8c;
    position: absolute;
    right: -12px;
    top: 3px;
}
.footer .info-form p:last-child:after {
    content: '';
    display: none;
}

.footer .logo {
    max-width: 155px;
    width: 100%;
}
/******************************************************
    color
******************************************************/
.point {
    color: #d82b09;
}
.bg-white {
    background-color: #fffffc !important;
}
.bg-gray {
    background-color: #f3f6f7 !important;
}
.bg-darker-gray {
    background-color: #e6e8ea !important;
}
.bg-dark-gray {
    background-color: #d2dde1 !important;
}
.bg-dark {
    background-color: #4f4f4f !important;
    border: color #4f4f4f !important;
}
.bg-blue {
    background-color: #006fa7 !important;
}
.bg-red {
    background-color: #d92703 !important;
}

/******************************************************
    btn
******************************************************/
.btn {
    display: inline-block;
    padding: 12px 16px;
    color: #fff;
    border-radius: 4px;
    margin: 8px;
    border:0;
    font-family: 'Pretendard', sans-serif;
    font-size:16px;
    cursor:pointer;
}

.btn-warning {
    background: #ff7b45;
}

.btn-secondary {
    background: #787878;
}

.btn-primary {
    background: #d82b09;
}

/******************************************************
    select
******************************************************/
.selectBox {
    position: relative;
    width: 52px;
    height: 20px;
    border-radius: 4px;
    background-color: #505050;
    background-image: url('../../assets/images/btn-arrow.png');
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: center;
    cursor: pointer;
    margin: 16px auto;
}

.selectBox .label {
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 8px;
    background: transparent;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
}
.selectBox .selectList {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    background-color:#fff;
    color: #fff;
    padding: 0;
    border-radius: 4px;
    box-shadow: 0px 2px 16px 0 rgba(22, 30, 53, 0.16);
    overflow: hidden;
    max-height: 0;
    transition: 0.3s ease-in;
}
.selectBox:hover .selectList {
    max-height: 80px;
}
.selectList .option {
    color: #d82b09;
    padding: 4px 9px;
    transition: 0.1s;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
}

/******************************************************
    index
******************************************************/
section {
    width: 100%;
    min-height: 640px;
    height: 100%;
    position: relative;
    line-height: 1.4;
    color: #3c3c3c;
    padding: 180px 0 120px;
    font-weight: 500;
    font-size: 16px;
}

.p-small {
    padding: 54px 0;
    min-height: auto;
}

section.p-middle {
    padding: 96px 0;
    min-height: auto;
}

section .container {
    height: 100%;
}
section.border-radius {
    overflow: hidden;
    border-radius: 0 0 100% 100% / 15%;
}
#bg-main {
    background: top center / cover no-repeat url('../../assets/images/main-image.png');
    align-items: center;
    position: relative;
}
#bg-gradient {
    background-image: linear-gradient(to top, #f8f8fa 10%, transparent);
    position: relative;
}
section .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
}

section .title {
    font-size: 28px;
    font-weight: bold;
}

section .line-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
section .line-box .line {
    width: 220px;
    height: 1px;
    background: #3c3c3c;
}
section .line-box .dot {
    width: 1px;
    height: 7px;
    margin: 8px;
    background: #3c3c3c;
}

section .imageBox {
    padding-top: 100px;
}

section .sub-text {
    color: #787979;
    font-size: 14px;
}

/******************************************************
    sub page
******************************************************/
.visual-section {
    min-height: 240px;
}
.box .vertical-center {
    top: 40%;
    transform: translateY(-50%);
}
.box {
    height: 100%;
}

.box:after {
    content: '';
    background: #fff;
    width: calc(100% - 24px);
    height: 100%;
    position: absolute;
    top: 28px;
    display: block;
    z-index: 0;
}
.box .vertical-center > div {
    margin: 24px auto;
}
.box .title {
    font-size: 1.5rem;
    width: 200px;
    height: 56px;
    border-radius: 28px;
    line-height: 56px;
    background-color: #3c3c3c;
    color: #fff;
    font-weight: bold;
    position: relative !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.box div {
    z-index: 1;
    position: relative;
    margin-bottom: 8px;
}

/******************************************************
    shape
******************************************************/
.circle {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    color: #d92703;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    top: 40px;
    z-index: 1;
}
.dot {
    border-radius: 100%;
    width: 8px;
    height: 8px;
    display: inline-block;
}
.point-border {
    border: 5px solid #d92703;
}

.arrow {
    width: 0;
    height: 0;
}
.right {
    border-top: 12px solid transparent;
    border-left: 24px solid #d92703;
    border-bottom: 12px solid transparent;
}
.left {
    border-top: 12px solid transparent;
    border-right: 24px solid #d92703;
    border-bottom: 12px solid transparent;
}

.up {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid #d92703;
}

.down {
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-top: 30px solid #d92703;
}

.arrow.down {
    position: relative;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}
.arrow.down.blue {
    border-top: 30px solid #006fa7;
}
.arrow.left.blue {
    border-right: 30px solid #006fa7;
}
.arrow.right.blue {
    border-left: 30px solid #006fa7;
}
.arrow.down.arrow-sm {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 18px solid #4f4f4f;
}
.bar {
    position: relative;
    width: 20px;
    min-height: 56px;
    height: calc(100% - 120px);
    background: #d92703;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bar.bar-sm {
    width: 8px;
    min-height: 24px;
}

.square-wrapper {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 0 auto;
    position: relative;
    top: -120px;
}

.square {
    background-color: white;
    display: inline-block;
    height: 300px;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    margin: 16px;
}

.square .square-text {
    transform: rotate(-45deg) translateX(-25%);
    -ms-transform: rotate(-45deg) translateX(-25%);
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
    position: relative;
    top: 8%;
    left: 40%;
}
.square .square-text.title {
    top: 32%;
    left: 64%;
}
.square-wrapper .square.green {
    background-color: #5fc55d;
}

.square-wrapper .square.turquoise {
    background-color: #47d5de;
}

.square-wrapper .square.blue {
    background-color: #5e83eb;
}
.square-wrapper .square.purple {
    background-color: #a75eeb;
}
.square-wrapper .square.red {
    background-color: #e24d5b;
}
.square-wrapper .square.pink {
    background-color: #eb5ebe;
}

.arrow-text-box {
    position: relative;
    z-index: -1;
}

.arrow-text-box .text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 8px;
    color: #fff;
    padding: 4px 8px;
}

.arrow-text-box .bar {
    min-height: 64px;
}
/******************************************************
    tab
******************************************************/
.tab {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #b9c6ca;
    border-radius: 50px;
    max-width: 640px;
    margin: 0 auto;
    background: #ffffff;
    border: 6px solid #fff;
}

.tab .tab-btn {
    width: 50%;
    padding: 16px;
    border-radius: 50px;
    transition: all 0.3s;
    cursor: pointer;
}
.tab .tab-btn.on,
.tab .tab-btn:hover {
    background-color: #d82b09;
    color: #fff;
}

/******************************************************
    table
******************************************************/
.table,
table {
    width: 100%;
    border-bottom: 4px solid #787878;
    font-weight: 500;
    border-top: 8px solid #d82b09;
}
.table th,
.table td {
    border: none;
}

.table thead th {
    background: #d82b09;
    color: #fff;
    border-bottom: none;
    text-align: center;
    padding-top: 6px;
}

.table tbody tr:nth-child(2n) {
    background: #f3f6f7;
}
.table tbody tr td {
    text-align: center;
    padding: 1rem 0;
}

.paginate {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 16px auto;
    align-items: center;
}

.paginate .paginate-bullet {
    display: inline-block;
    font-size: 0.8rem;
    color: #787878;
    margin: 16px;
    cursor: pointer;
}

.paginate .paginate-bullet.on {
    color: #d82b09;
    font-weight: bold;
}
.paginate .paginate-bullet:hover {
    color: #d82b09;
}

.paginate .prev,
.paginate .next {
    width: 32px;
    height: 32px;
    border: 1px solid #787878;
    border-radius: 100%;
    position: relative;
}
.paginate .prev .arrow,
.paginate .next .arrow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.paginate .prev .arrow {
    border-top: 6px solid transparent;
    border-right: 8px solid #787878;
    border-bottom: 6px solid transparent;
}

.paginate .next .arrow {
    border-top: 6px solid transparent;
    border-left: 8px solid #787878;
    border-bottom: 6px solid transparent;
}

/******************************************************
    slider
******************************************************/
.swiper-container {
    margin: 30px auto;
    position: relative;
    height: 420px;
    width: 100%;
    overflow: hidden;
}
.swiper-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-wrapper .swiper-slide {
    max-width: 800px;
    width: 100%;
    position: relative;
}

.swiper-wrapper .swiper-slide:nth-child(1) {
    background: top center / cover no-repeat url('../../assets/images/slide-img-01.png');
}
.swiper-wrapper .swiper-slide:nth-child(2) {
    background: top center / cover no-repeat url('../../assets/images/slide-img-02.png');
}

.swiper-wrapper .swiper-slide .slide-text {
    color: #fff;
    position: absolute;
    bottom: 58px;
    left: 48px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 20px;
    position: relative;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #3c3c3c;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 4px;
    border: 1px solid #3c3c3c;
    border-radius: 50px;
    background: #fff;
}

/******************************************************
    animate transform
******************************************************/
.rot {
    transform: rotate(180deg);
    transition: all 0.3s;
}

.rot-reset {
    transform: rotate(0deg);
    transition: all 0.3s;
}

/******************************************************
    form
******************************************************/
.form-wrapper {
    margin: 1.5rem 0;
}

.form-wrapper .form-label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.form-wrapper .form-control {
    font-family: 'Pretendard', sans-serif;
}
.form-wrapper input.form-control {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    border-width: 1px;
    line-height: inherit;
}

.form-wrapper select {
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    border-width: 1px;
    line-height: inherit;
}

.form-wrapper.form-inline {
    display: flex;
    align-items: center;
}

.form-inline .form-label {
    margin-right: 1.25rem;
    width: 5rem;
    text-align: right;
}

.form-wrapper.form-check {
    align-items: center;
}

.form-check-input[type='checkbox'] {
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-width: 1px;
    margin: 0;
    background-color: rgba(28, 63, 170, 0);
}

.form-check-input[type='checkbox']:checked {
    border-color: rgba(28, 63, 170, 1);
    background-color: rgba(28, 63, 170, 1);
}

.board-contents {
    min-height: 600px;
    padding: 16px 0;
}

.board-footer {
    margin-bottom: 80px;
}


/******************************************************
    Admin
******************************************************/
#admin-container {
    width:100%;
    height:100%;
}

#admin-container .header #logo {
    width: 100%;
    height: 64px;
    justify-content: center;
    align-items: center;
    display: flex;
}
#admin-container .header{
    max-width:150px;
    width:100%;
    flex-wrap: wrap;
    height:100vh;
    background:#fff;
    border-right:1px solid #4f4f4f;
    position: fixed;
    left:0; top:0;
}

#admin-container .header .gnb {
    width:100%;
    border-bottom:1px solid #4f4f4f;
}

#admin-container .header .gnb li{
    padding: 16px 0;
    text-align: center;
    font-size:16px;
    border-top:1px solid #4f4f4f;
}

#admin-container #content {
    left: 150px;
    padding: 24px;
    width:calc(100% - 150px);
}

#admin-container section {
    padding: 80px 0;
}

#admin-container section .title{
    font-weight: bold;
    font-size: 24px;
}