@media only screen and (max-width: 750px) {
    .web {
        display: none;
    }
    .mobile {
        display: block;
    }
    /******************************************************
    index
******************************************************/
    section {
        max-height: fit-content;
        overflow: hidden;
        padding-top: 150px;
        padding-bottom: 32px;
    }

    html,
    body,
    section,
    p,
    div,
    span {
        font-size: 14px;
    }
    .container {
        max-width: 90vw;
        width: 100%;
        margin: 0 auto;
    }
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .imageBox > div {
        margin-bottom: 80px;
    }
    .imageBox > div > div img {
        height: 24px;
    }

    /******************************************************
    slider
******************************************************/
    .swiper-container {
        height: auto;
    }

    .swiper-wrapper {
        display: block;
    }

    .swiper-wrapper .swiper-slide {
        max-width: 100%;
        width: 100%;
        height: 320px;
        margin-bottom: 48px;
    }

    .swiper-wrapper .swiper-slide img {
        width: 100%;
    }
    .swiper-wrapper .swiper-slide .slide-text {
        bottom: 20px;
        left: 20px;
        width: calc(100% - 40px);
    }

    /******************************************************
    menu nav
******************************************************/
    .header {
        justify-content: start;
        height: 72px;
    }

    .header #logo {
        margin-top: 4px;
    }

    .header .gnb > ul {
        display: block;
    }

    /*styling of dropdown menu*/
    .sub_gnb.view {
        display: block;
    }

    /*styling of dropdown menu*/
    .mobile-nav-wrap {
        display: inline-block;
        background-color: #fff;
    }

    .mobile-header-nav {
        box-sizing: border-box;
        padding-top: 72px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        transition: all 0.6s;
        height: 100vh;
        width: 100vw;
    }

    .slide-reset {
        transform: translateX(150vw);
        transition: all 0.6s;
        overflow: hidden;
    }

    .slide-show {
        transform: translateX(0);
        transition: all 0.6s;
        overflow: hidden;
        overflow-y: auto;
    }

    .mobile-header-nav li {
        padding: 32px;
        position: relative;
        align-items: center;
    }

    .mobile-header-nav > li:nth-child(1) {
        border-top: 1px solid #eceef0;
    }

    .mobile-header-nav li .sub_gnb {
        width: 100%;
        margin-top: 24px;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        display: none;
    }

    .mobile-header-nav li .sub_gnb.open {
        max-height: fit-content;
        display: block;
    }

    .mobile-header-nav li .sub_gnb li {
        width: 100%;
        padding: 24px;
        color: #d82b09;
        background: #f3f6f7;
    }

    .mobile-header-nav .arr {
        position: absolute;
        right: 30px;
        top: 30px;
        filter: invert(1);
    }

    .selectBox {
        position: fixed;
        bottom: 60px;
        left: 0;
        width: 100%;
        background: none;
    }

    .selectBox .label {
        display: none;
    }
    .selectBox .selectList {
        max-height: 72px;
        display: flex;
        justify-content: space-between;
        width: 90vw;
        margin: 0 5vw;
        box-shadow: none;
        background: transparent;
    }
    .selectBox .selectList .option {
        padding: 16px;
        font-size: 14px;
        text-align: center;
        width: 30%;
        border: 1px solid #dcdcdc;
        background: #fff;
    }

    .hamburger-menu {
        position: absolute;
        right: 12px;
        top: 16px;
        display: inline-block;
        padding: 10px;
        transition: all 0.3s ease-in-out;
    }

    .hamburger-menu:hover {
        cursor: pointer;
    }

    .hamburger-menu .menu-item {
        background: #3c3c3c;
        display: block;
        height: 2px;
        margin: 0 0 7px;
        transition: all 0.3s ease-in-out;
        width: 30px;
    }
    .hamburger-menu .menu-item:nth-child(2) {
        width: 23px;
        margin-left: 7px;
    }
    .hamburger-menu .menu-item:nth-child(3) {
        width: 16px;
        margin-left: 14px;
    }

    .hamburger-menu.open .menu-item {
        margin: 0 0 2px 1px;
    }

    .hamburger-menu.open .menu-item:first-child {
        transform: rotate(45deg);
        transform-origin: 10px;
        background-color: #3c3c3c;
        color: #3c3c3c;
    }

    .hamburger-menu.open .menu-item:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.open .menu-item:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 8px;
        background-color: #3c3c3c;
        color: #3c3c3c;
        width: 30px;
    }

    /******************************************************
    shape
******************************************************/
    .square-wrapper {
        top: 0px;
    }

    .square {
        height: 120px;
        width: 120px;
        margin: 4px;
    }

    .square .square-text {
        left: 46%;
    }
    .square .square-text.title {
        top: 24%;
    }

    .square .square-text p {
        font-size: 12px;
    }
    .square .square-text.title .tit-xl {
        font-size: 2rem;
    }

    .square-wrapper .square-row:nth-child(2) .square:nth-child(1) {
        margin-right: 10px;
    }
    .circle {
        width: 96px;
        height: 96px;
    }
    .bar {
        width: 12px;
    }

    .arrow-text-box .bar {
        min-height: 120px;
    }

    .p-3 {
        padding: 1rem !important;
    }
    .p-4 {
        padding: 1.3rem !important;
    }
    .p-5 {
        padding: 1.5rem !important;
    }

    /******************************************************
    .box
******************************************************/
    .box .title {
        width: 80%;
    }
    .box .vertical-center > div {
        margin: 24px 0;
    }
    .box:after {
        width: calc(100% - 12px);
    }
    .box img {
        width: 64%;
    }
    .box .badge {
        white-space: nowrap;
        line-height: 3;
    }
}
