
<template>
  <div>
    BoardList
  </div>
</template>

<script>
export default {
  name: "BoardList",
  created() {
    console.log("BoardList.created");
  },
  mounted() {
    console.log("BoardList.mounted");
  },
  beforeDestroy() {
    console.log("BoardList.beforeDestroy");
  }
}
</script>
