
<template>
  <div>
    BoardAdd
  </div>
</template>

<script>
export default {
  name: "BoardAdd",
  created() {
    console.log("BoardAdd.created");
  },
  mounted() {
    console.log("BoardAdd.mounted");
  },
  beforeDestroy() {
    console.log("BoardAdd.beforeDestroy");
  }
}
</script>
