
<template>
  <div>
    BoardGet
  </div>
</template>

<script>
export default {
  name: "BoardGet",
  created() {
    console.log("BoardGet.created");
  },
  mounted() {
    console.log("BoardGet.mounted");
  },
  beforeDestroy() {
    console.log("BoardGet.beforeDestroy");
  }
}
</script>
