
<template>
  <div>
    BoardRevise
  </div>
</template>

<script>
export default {
  name: "BoardRevise",
  created() {
    console.log("BoardRevise.created");
  },
  mounted() {
    console.log("BoardRevise.mounted");
  },
  beforeDestroy() {
    console.log("BoardRevise.beforeDestroy");
  }
}
</script>
