<template>
  <div id="content">
    <section id="bg-main" class="border-radius">
      <div class="text-box text-center white container">
        <div data-aos="fade-up" data-aos-duration="1500">
          <p class="tit-3xl bold mt-5">
            <span class="tit-3xl point">HAVENCARE</span> IS YOUR
          </p>
          <p class="tit-3xl bold">LIFELONG HEALTH COMPANION</p>
          <p class="txt-xl mt-5">{{ $t("index.main-text-1") }}</p>
          <p class="txt-xl mb-5">{{ $t("index.main-text-2") }}</p>
          <router-link to="about">
            <img src="../assets/images/btn.png" alt="버튼" />
          </router-link>
        </div>
      </div>
    </section>
    <section id="bg-gradient" class="border-radius">
      <div class="container">
        <div
          class="text-center"
          data-aos="fade-up"
          data-aos-offset="100"
          data-aos-duration="1000"
        >
          <div class="line-box">
            <div class="line"></div>
            <div class="dot"></div>
            <div class="line"></div>
          </div>
          <p class="title">{{ $t("index.main-text-3") }}</p>
          <div class="mt-5">
            <p>{{ $t("index.main-text-4") }}</p>
            <p>{{ $t("index.main-text-5") }}</p>
            <p>{{ $t("index.main-text-6") }}</p>
            <p>{{ $t("index.main-text-7") }}</p>
          </div>
        </div>
        <div
          class="row imageBox"
          data-aos="fade-up"
          data-aos-offset="100"
          data-aos-duration="1000"
        >
          <div class="col-sm-6 col-md-3">
            <img
              src="../assets/images/main-sec-01.png"
              alt="$t('index.main-text-8')"
              class="col"
            />
            <div class="text-center">
              <img
                src="../assets/images/icon/icon-01.png"
                alt="$t('index.main-text-8')"
              />
              <span class="txt-xl ml-2">{{ $t("index.main-text-8") }}</span>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <img
              src="../assets/images/main-sec-02.png"
              alt="$t('index.main-text-9')"
              class="col"
            />
            <div class="text-center">
              <img
                src="../assets/images/icon/icon-02.png"
                alt="$t('index.main-text-9')"
              />
              <span class="txt-xl ml-2">{{ $t("index.main-text-9") }}</span>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <img
              src="../assets/images/main-sec-03.png"
              alt="$t('index.main-text-10')"
              class="col"
            />
            <div class="text-center">
              <img
                src="../assets/images/icon/icon-03.png"
                alt="$t('index.main-text-10')"
              />
              <span class="txt-xl ml-2">{{ $t("index.main-text-10") }}</span>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <img
              src="../assets/images/main-sec-04.png"
              alt="$t('index.main-text-11')"
              class="col"
            />
            <div class="text-center">
              <img
                src="../assets/images/icon/icon-04.png"
                alt="$t('index.main-text-11')"
              />
              <span class="txt-xl ml-2">{{ $t("index.main-text-11") }}</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div
        class="container"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-duration="1000"
      >
        <p class="title">{{ $t("index.main-text-12") }}</p>
        <swiper
          ref="mySwiper"
          :options="swiperOptions"
          @slideChange="slideChangeTransitionStart"
        >
          <swiper-slide>
            <div class="slide-text col-md-8">
              <p class="bold tit-2xl mb-3">Exercise Therapy</p>
              <p>{{ $t("index.main-text-13") }}</p>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="slide-text col-md-8">
              <p class="bold tit-2xl mb-3">Diabetes Service</p>
              <p>{{ $t("index.main-text-14") }}</p>
            </div>
          </swiper-slide>
        </swiper>
      </div>
    </section>
  </div>
</template>
<script>
// Import Swiper styles
import Vue from "vue";
import VueAwesomeSwiper from "vue-awesome-swiper";
import "swiper/css/swiper.css";
Vue.use(VueAwesomeSwiper);
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
export default {
  name: "Main",
  props: {
    msg: String,
  },
  components: {
    Swiper,
    SwiperSlide,
  },
  methods: {
    slideChangeTransitionStart() {
      console.log(this.swiper.activeIndex); //현재 index값 얻기
    },
  },
  data() {
    return {
      swiperOptions: {
        direction: "horizontal",
        slidesPerView: "auto",
        freeMode: false,
        slidesPerGroup: 1,
        centerInsufficientSlides: true,
        loop: false,
        spaceBetween: 36,
        // If we need pagination
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      },
    };
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.$swiper;
    },
  },
};
</script>
