<template>
  <div>SplashPage</div>
</template>

<script>
export default {
  name: "SplashPage",
  created() {
    console.log("SplashPage.created");
  },
  mounted() {
    console.log("SplashPage.mounted");
  },
  beforeDestroy() {
    console.log("SplashPage.beforeDestroy");
  },
};
</script>
