<template>
  <div id="admin-container">
    <div class="d-flex">
      <Top />
      <router-view></router-view>
    </div>
    <Footer />
  </div>
</template>

<script>
import Top from "../views/common/Admin_Top";
import Footer from "../views/common/Admin_Footer";

export default {
  name: "AdminComponents",
  props: {
    msg: String,
  },
  // eslint-disable-next-line vue/no-unused-components
  components: { Top, Footer },
};
</script>
