<template>
  <router-link to="service"
    ><img src="../assets/images/logo.png" alt="로고"
  /></router-link>
  <div class="gnb">
    <ul>
      <li>
        <a href="#">회사</a>
        <ul class="sub_gnb">
          <li><router-link to="about">소개</router-link></li>
        </ul>
      </li>
      <li>
        <a href="#">서비스</a>
        <ul class="sub_gnb">
          <li><router-link to="service">개요</router-link></li>
          <li><router-link to="diabetes">당뇨 서비스</router-link></li>
          <li><router-link to="exercise">운동 처방</router-link></li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "header",
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
