<template>
  <div id="container">
    <LoginForm />
  </div>
</template>

<script>
import LoginForm from "../views/administrator/LoginPage";

export default {
  name: "LoginComponents",
  props: {
    msg: String,
  },
  // eslint-disable-next-line vue/no-unused-components
  components: { LoginForm },
};
</script>
