<template>
  <div id="container">
    <Top />
    <router-view></router-view>
    <Footer />
  </div>
</template>

<script>
import Top from "../views/common/Top";
import Footer from "../views/common/Footer";

export default {
  name: "MainComponents",
  props: {
    msg: String,
  },
  // eslint-disable-next-line vue/no-unused-components
  components: { Top, Footer },
};
</script>
