<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import { EventBus } from "@/event-bus";
export default {
  name: "App",
  methods: {
    resize() {
      console.log("resize...");
      EventBus.$emit("resize");
    },
  },
  created: function () {
    window.addEventListener("resize", this.resize);

    let locale = navigator.language || navigator.userLanguage;
    locale = locale.substring(0, 2);
    if (locale !== "ko") locale = "en";
    this.$i18n.locale = locale;
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.resize);
  },
};
</script>

<!-- import css  -->
<!--<style src="./assets/css/reset.css"></style>-->
<!--<style src="./assets/css/common.css"></style>-->
<!--<style src="./assets/css/main.css"></style>-->
