<template>
  <div id="content">
    <section>
      <div class="container">
        <p class="title">로그인</p>
        <form action="">
          <div class="form-wrapper">
            <label for="id" class="form-label">아이디</label>
            <input
              id="id"
              name="id"
              type="text"
              class="form-control"
              v-model="id"
            />
          </div>
          <div class="form-wrapper">
            <label for="pw" class="form-label">비밀번호</label>
            <input
              id="pw"
              name="pw"
              type="text"
              class="form-control"
              v-model="pw"
            />
          </div>
          <router-link to="/admin/boardList/notice" class="btn btn-primary"
            >로그인</router-link
          >
        </form>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "LoginPage",
  data() {
    return {
      id: "",
      pw: "",
    };
  },
  created() {
    console.log("LoginPage.created");
  },
  mounted() {
    console.log("LoginPage.mounted");
  },
  beforeDestroy() {
    console.log("LoginPage.beforeDestroy");
  },
};
</script>
